.container {
	padding: 50px;
}

#sidebar{
	position: absolute;
	top: 50px;
}

#sidebar > ul > a >li {
	padding-top: 10px;
	border: 1px solid darkslategray;
	padding: 5px;
	background-color: #eee;
	font-size: 25px;
}
ul
{
	padding: 15px;
    list-style-type: none;
}
