#bar-title {
  margin: 0;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.bar-icon {
  padding: 0 20px;
  font-size: 18px;
  position: absolute;
  line-height: 50px;
  vertical-align: middle;
  top: 0;
}

.bar-icon.left {
  left: 0;
}

.bar-icon.right {
  right: 0;
}

